<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://&#x73;&#x63;&#x68;&#x65;&#x6d;&#x61;&#x73;&#x2e;&#x61;&#x6e;&#x64;&#x72;&#x6f;&#x69;&#x64;&#x2e;&#x63;&#x6f;&#x6d;/apk/res/android"
    package="com.example.filesercher">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:label="Fils ME ᴘʀᴏᴊᴇᴄᴛ"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        
        <activity
            android:name="com.example.filesercher.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
